//
// Table Select Core
// --------------------------------------------------

[data-table-id] {
    .table-select-count.fa-wrap,
    .table-select-clear.fa {
        padding: @table-select-count-padding-vertical @table-select-count-padding-horizontal;
        line-height: floor((@font-size-base * @line-height-base));
    }

    .table-select-count {
        &.disabled {
            opacity: 1;
        }

        &:empty {
            display: none;

            + .table-select-clear {
                display: none;
            }
        }
    }
}
